{% extends "layout.html" %}

{% block title %}Confirmer la suppression{% endblock %}

{% block content %}
    <h2>Etes-vous certain de vouloir supprimer cette opération ?</h2>
    
    <p><strong>Type :</strong> {{ 'Recette' if operation.nature.type_operation == 'recette' else 'Dépense' }}</p>
    <p><strong>Nature :</strong> {{ operation.nature.nom }}</p>
    <p><strong>Montant :</strong> {{ operation.montant }} </p>

    {% if operation.pieces_justificatives %}
        <p><strong>Cette opération posséde des pièces justificatives associées.</strong></p>
    {% endif %}

    <form action="{{ url_for('confirmer_suppression_operation', operation_id=operation.id) }}" method="POST">
        <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
        <a href="{{ url_for('index', compte_id=operation.compte_id) }}" class="btn btn-secondary">Annuler</a>
    </form>
{% endblock %}
